<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nova_smartlock">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/log_mast_lock"
        android:label="@string/app_name"
        android:name="com.nova_smartlock.app.SmartLockApp"
        android:roundIcon="@drawable/log_mast_lock"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/net_config"
        android:theme="@style/AppTheme">

        <service android:name="com.ttlock.bl.sdk.service.BluetoothLeService" />

        <service
            android:name="com.ttlock.bl.sdk.service.DfuService"
            android:exported="true" />

        <activity android:name="com.nova_smartlock.activity.FeedbackActivity"/>
        <activity android:name="com.nova_smartlock.activity.PasscodesActivity" />
        <activity android:name="com.nova_smartlock.activity.EkeysActivity" />
        <activity android:name="com.nova_smartlock.activity.LockSoundActivity" />
        <activity android:name="com.nova_smartlock.activity.AboutActivity" />
        <activity android:name="com.nova_smartlock.activity.SettingsGatewayActivity" />
        <activity android:name="com.nova_smartlock.activity.SettingsLockGroupActivity" />
        <activity android:name="com.nova_smartlock.activity.SettingsLockUserActivity" />
        <activity android:name="com.nova_smartlock.activity.RecepientActivity" />
        <activity android:name="com.nova_smartlock.activity.SettingsTransferLocksActivity" />
        <activity android:name="com.nova_smartlock.activity.AdminPasscodeActivity" />
        <activity android:name="com.nova_smartlock.activity.UnlockRemotelyActivity" />
        <activity android:name="com.nova_smartlock.activity.ReadOperationRecordsActivity" />
        <activity android:name="com.nova_smartlock.activity.FirmwareUpdateActivity" />
        <activity android:name="com.nova_smartlock.activity.DiagnosisActivity" />
        <activity android:name="com.nova_smartlock.activity.LockClockActivity" />
        <activity android:name="com.nova_smartlock.activity.LockgroupActivity" />
        <activity android:name="com.nova_smartlock.activity.LockNameActivity" />
        <activity android:name="com.nova_smartlock.activity.CustomerServiceActivity" />
        <activity android:name="com.nova_smartlock.activity.MessagesActivity" />
        <activity android:name="com.nova_smartlock.activity.SettingsNavActivity" />
        <activity android:name="com.nova_smartlock.activity.NearbyLockActivity" />
        <activity android:name="com.nova_smartlock.activity.AddLockActivity" />
        <activity android:name="com.nova_smartlock.activity.GeneratePasscodeActivity" />
        <activity android:name="com.nova_smartlock.activity.SendeKeyActivity" />
        <activity android:name="com.nova_smartlock.activity.SettingsActivity" />
        <activity android:name="com.nova_smartlock.activity.RecordsActivity" />
        <activity android:name="com.nova_smartlock.activity.OtpActivity" />
        <activity android:name="com.nova_smartlock.activity.MainActivity" />
        <activity android:name="com.nova_smartlock.activity.LoginActivity" />
        <activity android:name="com.nova_smartlock.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nova_smartlock.activity.RegistrationActivity"/>
        <activity android:name="com.nova_smartlock.activity.FoundDeviceActivity"/>
    </application>


</manifest>